html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

/**/
body {
    background-color: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-content {
    color: white;
    height: 50%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: grid;

    grid-template-columns: repeat(4, 1fr) 2fr;
    grid-template-rows: repeat(6, 1fr);

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#profile-img {
    grid-column: span 4;
    grid-row: span 5;
    position: relative;
    display: flex;
    /* centers the image */
    justify-content: center;
    /* horizontal centering */
    align-items: center;
    /* vertical centering */
    overflow: hidden;
    /* keeps image inside borders */
    padding: 10px;
    /* optional: space from borders */
    box-sizing: border-box;
    border: 4px solid black;
    border-radius: 5% 0 0 0;

}

#profile-img img {
    width: 90%;
    /* make image smaller */
    height: 100%;
    /* maintain aspect ratio */
    filter: grayscale();
    transition: filter 0.5s ease;

}

#profile-img img:hover {
    filter: grayscale(0%);
    transform: scale(1.025);
    transition: all 0.4s ease;
}

#name {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    background-color: rgba(31, 30, 60, 0.5);
    border-radius: 50px;
    border: 1px solid black;
    padding: 0.5em;
    transition: all 0.4s ease;
}

#profile-img:hover #name {

    top: 85%;
    color: #34426c
}

/* #name:hover { */
/*     display: block; */
/*     position: absolute; */
/* } */

#navigation {
    grid-column: span 1;
    grid-row: span 5;
    display: grid;
    text-align: center;
    align-items: center;
}

#navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

#navigation li {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: roboto;

    border: 4px solid black;


}

#navigation li:first-child {
    border-radius: 0 5% 0 0;
}

#navigation a {
    text-decoration: none;
    color: inherit;
    transition: color 0.5s ease;
}

#navigation a:hover {
    color: rgb(54, 105, 134);
}

#social-media {
    align-items: center;
    display: flex;
    grid-column: span 6;
    grid-row: span 2;
    justify-content: space-evenly;
    /* background-color: green; */
}

.social-media-btn {
    /* border: 3px red solid; */
    border: 4px solid black;
    margin: -2.5px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1px;
    background-color: 171717;
}

#social-media .social-media-btn:first-child {
    border-radius: 0 0 0 5%;
}

#social-media .social-media-btn:last-child {
    border-radius: 0 0 5% 0;
}