#blog {
    background-color: rgb(184, 218, 238);
    padding: 0;
    margin: 0;
    height: 100%;
    color: rgb(8, 11, 102);
    justify-content: center;
}

#article {
    background-color: rgb(254, 254, 254);
    padding: 0;
    margin: 0;
    height: 100%;
    color: rgb(34, 26, 26);
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

#body {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#Header_article {
    display: grid;
    text-align: center;

    align-items: center;
    background-color: rgb(231, 94, 25);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    /* correct property for bold text */

}

#Header {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

}

#1st_head {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    /* correct property for bold text */
    background-color: rgb(237, 142, 110);
    color: rgb(71, 67, 67);
}

#back_btn {
    justify-content: space-between;
    margin-top: 0%;
    margin-right: 0%;
    display: inline-block;

}

#back_btn a {
    text-decoration: none;
    color: inherit;
    border: 1px rgb(37, 27, 231) solid;
}

#back_btn a:hover {

    color: rgb(10, 62, 62);
}

#article_btn {

    margin-top: 0%;
    margin-right: 0%;
    display: inline-block;
    text-align: left;
    align-items: left;


}

#article_btn a {
    text-decoration: none;
    color: inherit;
    border: 1px rgb(243, 243, 243) solid;
}

#article_btn a:hover {

    color: rgb(188, 25, 10);
}