#main-content {
    text-align: center;
    justify-content: center;
    color: blue;
    /* Changes text color */
    height: 60px;
}

table, th, td {
    border-collapse: collapse;
    text-align: center;
    border: 1px solid black;
    /* Centers text in table */
}

.big
{
    grid-row: span 2;
    display: inline-grid;
    align-content: center;
    /* Makes the element span 2 columns */
}

body {
    background-color: lightgray;
}