#Main_content {

    height: 40%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: grid;

    grid-template-columns: repeat(3, 1fr) 1fr;
    grid-template-rows: repeat(7, 1fr);
    border-radius: 10% 10% 10% 10%;
    border: 1px solid rgb(134, 169, 230);
}

#Header {

    display: grid;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#profile-img {
    grid-column: span 3;
    grid-row: span 6;
    align-content: center;
    justify-content: center;
    display: flex;
    margin: 10px;
}

/* Remove width/height from #profile if it's conflicting */
img {
    width: 40%;
    height: 100%;
    filter: grayscale();
    transition: filter 0.5s ease;

}

img:hover {
    filter: grayscale(0%);
}

/*#name{
    display:none;
}
#name:hover{
    color:rgb(164, 238, 238);
    display:grid;
}*/
#navigation {
    grid-column: span 1;
    grid-row: span 6;

    margin: 10px;
    justify-content: center;
}

#navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    height: 100%;


}

#navigation li {
    flex: 1;
    display: flex;
    border: 1px rgb(18, 4, 59) solid;

    justify-content: center;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {

    color: rgb(164, 238, 238);
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    color: white;
}

body {
    background-color: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
}

#social-media {
    align-items: center;
    display: flex;
    grid-column: span 4;
    grid-row: span 2;
    justify-content: space-evenly;
    background-color: rgb(23, 7, 171);

}

.social-media-btn {
    /*.social-media span */
    border: 1px rgb(18, 4, 59) solid;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1px;
}